* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

.HomeDiv {
    height: 96vh;
    width: 100vw;
    background: url(img/Home/shutterstock_1124727410.jpg);
    background-size: cover;
    background-position: 100%;
    
}   

.bodyHome{
    flex-direction: column;
    }

.home-textDiv1{
    display: flex;
    flex-wrap: wrap;
    width: 20%;
    padding: 8vh 0 0 4vw;
}

.midSection {
    display: flex;
}

.HeaderHome {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 3.5vw 0px 0px;
    justify-content: space-evenly;
    height: 10.5vh;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    backdrop-filter: blur(3px) contrast(67%) brightness(125%) saturate(90%);
    mask: linear-gradient(90deg, transparent, black 60%);
}

.homeText1 {
    white-space: nowrap;
    width: fit-content;
    font-family: 'Source Sans Pro';
    /* font-style: normal; */
    font-weight: 400;
    font-size: 96px;
    background: linear-gradient(221.92deg, #1A3762 28.03%, #0A172B 89.91%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.homeText2 {
    white-space: nowrap;
    width: fit-content;
    
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    
    background: linear-gradient(221.92deg, #1A3762 28.03%, #0A172B 89.91%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    
    flex: none;
    order: 0;
    flex-grow: 0;
}

.LeftHeader {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0% 3%;
    height: 100%;


    /* Inside auto layout */
    flex: 1 1;
    align-self:baseline;
    flex-grow: 1;
}

.RightHeader {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-width: 500px;
    height: 100%;
    flex: 0 0;  
    align-self: stretch;

}

@media only screen and (max-width: 800px) {
    .RightHeader{
        display: none;
    }
}

.HomeLogo {
    height: 45%;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.ItemHeaderAtual {

    width: -moz-fit-content;
    width: fit-content;


    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 2.44605vh;
    line-height: 21px;
    letter-spacing: 0.145em;
    text-decoration: none;

    color: #122246;

    flex: none;
    order: 0;
    flex-grow: 0;
    }

.ItemHeader {
        
    width: -moz-fit-content;
    width: fit-content;

    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 4  00;
    font-size: 2.44605vh;
    line-height: 21px;
    letter-spacing: 0.145em;
    text-decoration: none;

    color: #2e2e2e;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.ItemHeaderEspecial {
        
    width: -moz-fit-content;
    width: fit-content;

    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 2.44605vh;
    line-height: 21px;
    letter-spacing: 0.145em;
    text-decoration: none;

    color: #1f1f1f;


    /* Inside auto layout */

    flex: none;
    order: 3;
    flex-grow: 0;
}